<footer>
  <div class="header">
    <div class="header-left">
      <img src="assets/upLogo.png" alt="UP Logo" class="header-icon" />
    </div>
    <div class="header-center">
      <h1 class="header-title">
        0230866 - Alberto Morales Vizcarra</h1>
      </div>
    <div class="header-right">
      <ion-button href="https://colab.research.google.com/drive/1FfPL6lGAvOAZ2ddNobw4mKz4O03lLe4R?usp=sharing" target="_blank">
        <img src="assets/colab.png" alt="Colab Icon" class="footer-icon"/>
      </ion-button>
      <ion-button href="https://github.com/AlbertoMorales24/el-precio-de-la-tortilla" target="_blank">
        <img src="assets/github.png" alt="GitHub Icon" class="footer-icon"/>
      </ion-button>
    </div>
  </div>
</footer>
